#header{
    display: flex;
    flex-direction: row;
    width: inherit;
    align-items: center;
    justify-content: space-around;
    height:200px;
    background-image: linear-gradient(to right,lightblue, lightyellow);
    margin-bottom: 50px;;
}

select{
    width:300px;
    height:30px;
}

.change-cursor{
    cursor: no-drop;
}

button{
    font-size: 20px;
    width: 150px;
    height: 60px;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 30px;
    justify-content: space-around;
}

.images-container{
    margin: 5px;
    height: 25vh;
    width: 25vw;
}

.images-container img{
    height: 100%;
    width: 100%;
}