#getData{
    height:150px;
    width:inherit;
    background-color: indigo;
    margin-top: 50px;
    text-align: center;
    color: aliceblue;
    font-size: 30px;   
}

#fetch{
    height: 50px;
    width: 150px;
}

#fetch:hover{
    box-shadow: aliceblue 0px 0px 5px;
    height: 52px;
    width: 152px;
}

#course-list{
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.course-container{
    height: 250px;
    width: 300px;
    margin: 15px 0;
    border: 1px solid lightgray;
}

.course-details{
    padding: 7px;
}
.image-container{
    width:inherit;
    height: 150px;
}

.image-container img{
    height: 100%;
    width: 100%;
}
